@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Merienda:wght@300..900&family=Permanent+Marker&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  font-family: "Merienda", serif;
  text-align: center;
  padding: 20px 0;
  width: 40%;
  border-radius: 30px;
  background-color: chartreuse;
  color: black;
  margin: 40px auto;
  font-size: 35px;
}
.group-title {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 95%;
  margin: auto;
  font-size: 25px;
}

@media screen and (max-width: 1224px) and (min-width: 884px) {
  .group-title {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 550px) and (max-width: 883px) {
  .group-title {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  .group-title {
    grid-template-columns: repeat(1, 1fr);
  }
}
.title-project {
  font-family: "Merienda";
  background-color: aliceblue;
  text-decoration: none;
  padding: 20px 20px;
  border-radius: 40px;
  color: black;
  transition: 0.5s;
}
.title-project:hover {
  transform: scale(1.1);
  background-color: #f4f6ff;
  border: 2px solid #eb8317;
}

.icon-github {
  position: fixed;
  right: 20px;
  top: 20px;
  font-size: 50px;
  color: black;
}
