body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.banner {
  background-color: #eb8317;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  padding: 0;
  font-size: 16px;
  margin: 0;
}
p,
h1 {
  margin: 0;
}
.textBanner {
  margin: 2px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f6ff;
  padding: 0 30px;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0;
}

ul > li > a {
  text-decoration: none;
  color: black;
}
.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.social > a {
  background-color: #10375c;
  padding: 5px 20px;
  border-radius: 5px;
  color: #eb8317;
}

.containerIframe {
  display: flex;
  justify-content: center;
}

.iframe {
  width: 95%;
  height: 1500px;
  border-radius: 10px;
}
